USE [BanHangThucPham]
GO
/****** Object:  Table [dbo].[tb_About]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_About](
	[AboutId] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_About] PRIMARY KEY CLUSTERED 
(
	[AboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Adv]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Adv](
	[AdvId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Type] [int] NULL,
	[Link] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Adv] PRIMARY KEY CLUSTERED 
(
	[AdvId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Blog]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[CreatedDate] [nvarchar](150) NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Cart]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[Close] [nvarchar](150) NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
	[Price] [ntext] NULL,
	[Quantity] [int] NULL,
	[Total] [ntext] NULL,
	[IsNew] [bit] NOT NULL,
	[IsBestSeller] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Comment_Home]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Comment_Home](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Comment_Home] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[Phone] [int] NULL,
 CONSTRAINT [PK_tb_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Menu]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Menu_1] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_News]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[CreatedDate] [nvarchar](150) NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nchar](10) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](250) NULL,
	[TotalAmount] [int] NULL,
	[Quanlity] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tb_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[ProductdID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[ProductSingleId] [int] NULL,
	[Image] [nvarchar](500) NULL,
	[Price] [ntext] NULL,
	[PriceSale] [ntext] NULL,
	[Quantity] [int] NULL,
	[IsNew] [bit] NOT NULL,
	[IsBestSeller] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[ProductdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductHome]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductHome](
	[ProductHomeIdID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[ProductSingleId] [int] NULL,
	[Image] [nvarchar](500) NULL,
	[Price] [ntext] NULL,
	[PriceSale] [ntext] NULL,
	[Quantity] [int] NULL,
	[IsNew] [bit] NOT NULL,
	[IsBestSeller] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ProductHome] PRIMARY KEY CLUSTERED 
(
	[ProductHomeIdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductSingle]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductSingle](
	[ProductSingleId] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Price] [ntext] NULL,
	[Description] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ProductSingle] PRIMARY KEY CLUSTERED 
(
	[ProductSingleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Setting]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Setting](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) NULL,
	[SettingValue] [nvarchar](max) NULL,
	[SettingDescription] [nvarchar](500) NULL,
 CONSTRAINT [PK_tb_Setting] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ShopMenu]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ShopMenu](
	[ShopId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ShopMenu] PRIMARY KEY CLUSTERED 
(
	[ShopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ShopNow_Home]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ShopNow_Home](
	[ShopNowId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ShopNow_Home] PRIMARY KEY CLUSTERED 
(
	[ShopNowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Slide]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Slide](
	[SlideId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Slide] PRIMARY KEY CLUSTERED 
(
	[SlideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Subscribe]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Subscribe](
	[SubscribeId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_tb_Subscribe] PRIMARY KEY CLUSTERED 
(
	[SubscribeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Wishlist]    Script Date: 11/12/2022 10:12:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Wishlist](
	[WishlistId] [int] IDENTITY(1,1) NOT NULL,
	[Close] [nvarchar](150) NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
	[Price] [ntext] NULL,
	[Quantity] [int] NULL,
	[Total] [ntext] NULL,
	[IsNew] [bit] NOT NULL,
	[IsBestSeller] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Wishlist] PRIMARY KEY CLUSTERED 
(
	[WishlistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Blog] ON 

INSERT [dbo].[tb_Blog] ([BlogId], [Image], [CreatedDate], [CreatedBy], [Description], [Detail], [IsActive]) VALUES (1, N'/images/image_1.jpg', N'July 20, 2019', N'Admin', N'Even the all-powerful Pointing has no control about the blind texts', N'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.', 1)
INSERT [dbo].[tb_Blog] ([BlogId], [Image], [CreatedDate], [CreatedBy], [Description], [Detail], [IsActive]) VALUES (3, N'/images/image_2.jpg', N'July 20, 2019', N'Admin', N'Even the all-powerful Pointing has no control about the blind texts', N'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.', 1)
INSERT [dbo].[tb_Blog] ([BlogId], [Image], [CreatedDate], [CreatedBy], [Description], [Detail], [IsActive]) VALUES (4, N'/images/image_3.jpg', N'July 20, 2019', N'Admin', N'Even the all-powerful Pointing has no control about the blind texts', N'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.', 1)
SET IDENTITY_INSERT [dbo].[tb_Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Comment_Home] ON 

INSERT [dbo].[tb_Comment_Home] ([CommentId], [Title], [Alias], [Description], [Detail], [Image], [IsActive]) VALUES (1, N'Garreth Smith', N'Garreth Smith', N'Marketing Manager', N'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.', N'/images/person_1.jpg', 1)
INSERT [dbo].[tb_Comment_Home] ([CommentId], [Title], [Alias], [Description], [Detail], [Image], [IsActive]) VALUES (2, N'Tu', N'tu', N'Marketing Manager', N'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.', N'/images/person_2.jpg', 1)
SET IDENTITY_INSERT [dbo].[tb_Comment_Home] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Menu] ON 

INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Home', N'Home', NULL, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'News', N'news', NULL, 2, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Shop', N'shop', NULL, 3, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_News] ON 

INSERT [dbo].[tb_News] ([NewsId], [Image], [CreatedDate], [CreatedBy], [Description], [Detail], [Link], [IsActive]) VALUES (3, N'/images/news_2.jpg', N'09/12/2022', N'Admin', N'Giá heo hơi hôm nay 9/12: Tăng rải rác 1.000 đồng/kg', N'Giá heo hơi hôm nay (9/12) tăng nhẹ 1.000 đồng/kg tại một vài địa phương. Các hợp tác xã chăn nuôi mong đợi chính sách điều tiết của ngành chức năng để tiêu thụ nhanh, đảm bảo người...', N'https://vietnammoi.vn/gia-heo-hoi-hom-nay-912-tang-rai-rac-1000-dongkg-202212815486297.htm', 1)
INSERT [dbo].[tb_News] ([NewsId], [Image], [CreatedDate], [CreatedBy], [Description], [Detail], [Link], [IsActive]) VALUES (4, N'/images/news_3.jpg', N'08/12/2022', N'Admin', N'Giá cả thị trường hôm nay 8/12/2022: Rau củ quả giữ giá ổn định tại các siêu thị', N'Giá cả thị trường hôm nay (8/12) ghi nhận, rau củ quả các loại được ghi nhận bán với giá không đổi. Tương tự, giá các loại thịt bò và trái cây tại các hệ thống siêu thị cũng không tăng giảm...', N'https://vietnammoi.vn/gia-ca-thi-truong-hom-nay-8122022-rau-cu-qua-giu-gia-on-dinh-tai-cac-sieu-thi-202212872752280.htm', 1)
SET IDENTITY_INSERT [dbo].[tb_News] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductHome] ON 

INSERT [dbo].[tb_ProductHome] ([ProductHomeIdID], [Title], [Alias], [ProductSingleId], [Image], [Price], [PriceSale], [Quantity], [IsNew], [IsBestSeller], [IsActive]) VALUES (1, N'Bell Pepper', N'Bell Pepper', 1, N'/images/product-1.jpg', N'$120.00', N'$80.00', 1, 1, 1, 1)
INSERT [dbo].[tb_ProductHome] ([ProductHomeIdID], [Title], [Alias], [ProductSingleId], [Image], [Price], [PriceSale], [Quantity], [IsNew], [IsBestSeller], [IsActive]) VALUES (7, N'Strawberry', N'Strawberry', NULL, N'/images/product-2.jpg', N'$120.00', NULL, 1, 1, 1, 1)
INSERT [dbo].[tb_ProductHome] ([ProductHomeIdID], [Title], [Alias], [ProductSingleId], [Image], [Price], [PriceSale], [Quantity], [IsNew], [IsBestSeller], [IsActive]) VALUES (9, N'Green Beans', N'Green Beans', NULL, N'/images/product-3.jpg', N'$120.00', NULL, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[tb_ProductHome] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductSingle] ON 

INSERT [dbo].[tb_ProductSingle] ([ProductSingleId], [Image], [Price], [Description], [Detail], [Quantity], [IsActive]) VALUES (1, N'', N'', N'', N'', 1, 1)
SET IDENTITY_INSERT [dbo].[tb_ProductSingle] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ShopMenu] ON 

INSERT [dbo].[tb_ShopMenu] ([ShopId], [Title], [Alias], [Description], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Shop', N'Shop', NULL, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tb_ShopMenu] ([ShopId], [Title], [Alias], [Description], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Wishlist', N'Wishlist', NULL, 2, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tb_ShopMenu] ([ShopId], [Title], [Alias], [Description], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (5, N'Single Product', N'Single Product', NULL, 3, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_ShopMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ShopNow_Home] ON 

INSERT [dbo].[tb_ShopNow_Home] ([ShopNowId], [Title], [Alias], [Description], [Detail], [Image], [IsActive]) VALUES (1, NULL, NULL, NULL, NULL, N'/images/category.jpg', 1)
SET IDENTITY_INSERT [dbo].[tb_ShopNow_Home] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Slide] ON 

INSERT [dbo].[tb_Slide] ([SlideId], [Title], [Alias], [Description], [Detail], [Image], [IsActive]) VALUES (1, NULL, NULL, N'We serve Fresh Vegestables & Fruits', N'We deliver organic vegetables & fruits', N'/images/bg_1.jpg', 1)
INSERT [dbo].[tb_Slide] ([SlideId], [Title], [Alias], [Description], [Detail], [Image], [IsActive]) VALUES (2, NULL, NULL, N'100% Fresh & Organic Foods', N'We deliver organic vegetables & fruits', N'/images/bg_2.jpg', 1)
SET IDENTITY_INSERT [dbo].[tb_Slide] OFF
GO
ALTER TABLE [dbo].[tb_Menu] ADD  CONSTRAINT [DF_tb_Menu_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tb_OrderDetail_tb_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tb_Order] ([OrderId])
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_tb_OrderDetail_tb_Order]
GO
ALTER TABLE [dbo].[tb_Product]  WITH CHECK ADD  CONSTRAINT [FK_tb_Product_tb_ProductSingle] FOREIGN KEY([ProductSingleId])
REFERENCES [dbo].[tb_ProductSingle] ([ProductSingleId])
GO
ALTER TABLE [dbo].[tb_Product] CHECK CONSTRAINT [FK_tb_Product_tb_ProductSingle]
GO
ALTER TABLE [dbo].[tb_ProductHome]  WITH CHECK ADD  CONSTRAINT [FK_tb_ProductHome_tb_ProductSingle] FOREIGN KEY([ProductSingleId])
REFERENCES [dbo].[tb_ProductSingle] ([ProductSingleId])
GO
ALTER TABLE [dbo].[tb_ProductHome] CHECK CONSTRAINT [FK_tb_ProductHome_tb_ProductSingle]
GO
