
<div class="collapse navbar-collapse" id="ftco-nav">
    <ul class="navbar-nav ml-auto">

        @foreach (var item in Model)
        {


            <li class="nav-item"><a href="~/@item.Title" class="nav-link">@item.Title</a></li>

        }
        <li class="nav-item cta cta-colored"><a href="~/Cart" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
        <li class="nav-item cta cta-colored">
            @if (Session["UserID"] != null)
            {
               <li> <a href="#" class="nav-link"><i class="ti-user"></i> Người Dùng</a> </li>
               <li> <a href="~/Home/Logout" class="nav-link"><i class="ti-user"></i> Logout</a> </li>

            }
            else
            {
                <a href="~/Home/Login" class="nav-link"><i class="ti-user"></i> Login</a>

            }
        </li>
    </ul>
</div>