@model Webbhtp.tb_News
@{
    ViewBag.Title = "News_detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">

                <h2 class="mb-3">@Model.Detail</h2>

                <div style="text-align: justify">@Html.Raw(Model.Description)</div>

                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                        <img src="~/Content/images/admin.png" alt="Admin" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                        <h3>Admin</h3>
                        <p>
                            Đội ngũ Admin luôn nỗ lực, tìm hiểu, xác minh thông tin để đưa đến cho bạn đọc những bài viết
                            chất lượng nhất. Cảm ơn bạn đã chú ý theo dõi !!!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
