
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="~/">Foods</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>


        @{Html.RenderAction("TopMenu", "Home");}


    </div>
</nav>

<div class="hero-wrap hero-bread" style="background-image: url('../../Content/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="~/Home">Home</a></span> <span>Contact us</span></p>
                <h1 class="mb-0 bread">Contact us</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Website</span> <a href="#">yoursite.com</a></p>
                </div>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form action="#" class="bg-white p-5 contact-form">
                    <p>Fill out the form below to recieve a free and confidential.</p>
                    @*<form action="post">*@
                    <div>
                        <input id="input_name" class="form-group form-control form_input input_name input_ph" type="text" name="name" placeholder="Name" required="required" data-error="Name is required.">
                        <input id="input_phone" class="form-group form-control form_input input_website input_ph" type="text" name="name" placeholder="Phone" required="required" data-error="Phone is required.">
                        <input id="input_email" class="form-group form-control form_input input_email input_ph" type="email" name="email" placeholder="Email" required="required" data-error="Valid email is required.">
                        <textarea id="input_message" class="form-group form-control input_ph input_message" name="message" placeholder="Message" rows="3" required data-error="Please, write us a message."></textarea>
                    </div>
                    <div>
                        <button id="review_submit" type="submit" class="form-group btn btn-primary py-3 px-5 red_button message_submit_btn trans_300" value="Submit">send message</button>
                    </div>
                    @*</form>*@
                </form>

            </div>

            <div class="col-md-6 d-flex">
                <div id="map" class="bg-white"></div>
            </div>
        </div>
    </div>
</section>



@section script{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/contact_custom.js"></script>
    <script>
        $(document).ready(function () {
            $("#review_submit").click(function () {
                _name = $("#input_name").val();
                _phone = $("#input_phone").val();
                _email = $("#input_email").val();
                _message = $("#input_message").val();
                $.ajax({
                    type: "POST",
                    url: "/contact/create",
                    data: { name: _name, phone: _phone, email: _email, message: _message },
                    cache: false,
                    success: function (data) {
                        if (data.status) {
                            alert("Bạn đã gửi message thành công");
                        }
                        else {
                            alert("Bạn đã gửi message không thành công");
                        }
                    }
                });

            })

        })
    </script>
}

